.App {
  margin: 0 auto;
  text-align: center;
}
.gif-item {
  box-sizing: border-box;
  display: inline-block;
  column-count: 5;
  padding: 0 20px;
}
.gif-item li {
  list-style: none;
  margin-bottom: 10px;
}
.gif-item img {
  width: 100%;
}
input {
  width: 50%;
  height: 40px;
  padding: 0 10px;
  font-size: 22px;
  line-height: 25px;
  border: 1px solid #CCC;
}
@media only screen and (min-width: 320px) {
  .gif-item {
    column-count: 1;
  }
}
@media only screen and (min-width: 480px) {
  .gif-item {
    column-count: 2;
  }
}
@media only screen and (min-width: 768px) {
  .gif-item {
    column-count: 3;
  }
}
@media only screen and (min-width: 992px) {
  .gif-item {
    column-count: 4;
  }
}